# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /dev/horacio-lavandera/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /dev/horacio-lavandera/index.php [L]
</IfModule>

# END WordPress
# BEGIN WP HTPASSWD
AuthName "Horacio Lavandera - Restricted area"
AuthType Basic
AuthUserFile /home/u210710958/domains/brontosaurio.com.ar/public_html/dev/horacio-lavandera/.htpasswd
Require valid-user
# END WP HTPASSWD