/**
Site: HL;

*/

/**
 * Table of Contents
 * 1.0 - Reset CSS
 * 2.0 - General
 	* 2.1 - Colors & Fonts guide
 	* 2.2 - Buttons
 		* 2.2.1 - Buttons Mobile
 		* 2.2.2 - Buttons Tablet
 	* 2.3 - Headers
 * 3.0 - Navbar
 	* 3.1 - General
 	* 3.2 - Tablet
 	* 3.3 - Desktop
 * 4.0 - Footer
 	* 4.1 - General
 	* 4.2 - Tablet
 	* 4.3 - Desktop
 * 5.0 - Cover
 	* 5.1 - General
 	* 5.2 - Tablet
 	* 5.3 - Desktop
 * 6.0 - Dates
 	* 6.1 - Container and list
 	* 6.2 - Tablet
 	* 6.3 - Desktop
* 7.0 - News
 	* 7.1 - Container and list 	
 	* 7.2 - Desktop
 * 8.0 - Paginador
 * 9.0 - Biography
 	* 9.1 - General
 	* 9.2 - Desktop
 * 10.0 - Contact
 	* 10.1 - General
 	* 10.2 - Tablet
 	* 10.3 - Desktop
 * 11.0 - Discografía
 	* 11.1 - General
 	* 11.2 - Desktop
 * 12.0 - Media
	* 12.1 - General
	* 12.2 - Desktop
 */


/* =====================
   1.0 Reset css
   ===================== */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
	max-width: 100%;
}

html{
	font-family: 'Montserrat', sans-serif;
}


/* =====================
    2.0 General
   ===================== */

body {
	padding-top: 55px;
}

@media screen and (min-width: 768px) {
	body {
		padding-top: 65px;
	}
}

/* 2.1 Colors & Fonts guide
------------------------
*/

.black {
	color: #373737;
}

.blue {
	color: #24659E;
}

.medium {
	font-weight: 500;
}

.semi-bold {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.extra-bold {
	font-weight: 800;
}

/* 2.2 Buttons
------------------------
*/

a,
button {
	outline: none!important;
}

a:hover {
	text-decoration: none;
}

.cta-link {
	font-size: 12px;
	font-weight: 600;
	color: #373737;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.cta-link:hover {
	color: inherit;
	text-decoration: none;
} 

.cta-link.disabled {
	opacity: 0.8;
	text-decoration: line-through;
	pointer-events: none;
}

/* 2.2.1 Buttons Mobile
------------------------
*/

@media screen and (max-width: 767px) {
	.cta-wrapper {
		text-align: center;
	}
}

/* 2.2.2 Buttons Tablet
------------------------
*/

@media screen and (min-width: 768px) {

	.cta-wrapper {
		text-align: right;
		position: relative;
		margin: 0;
	}

	.cta-wrapper:before {
		content: '';
		display: block;
		height: 1px;
		background: #373737;
		position: absolute;
		left: 0;
		right: 0;
		top: 50%;
	}

	.cta-link {
		background: #ffffff;
	    position: relative;
	    padding: 0 0 0 25px;
	}
}


/* 2.3 Headers
------------------------
*/

h1 {
	font-size: 25px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

h1 a {
	color: #373737;
}

h2 {
	margin: 15px 0;
	font-size: 32px;
	font-weight: 700;
	text-transform: uppercase;
}

/* =====================
    3.0 Navbar
   ===================== */

/* 3.1 All
------------------------
*/

header:not(.is-home) {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
	box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
}

header {
	transition: 0.3s;
	position: fixed;	
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
	background: white;
}

header.fixed {
	-webkit-box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
	-moz-box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
	box-shadow: 0px 1px 2px 0px rgba(194,194,194,0.5);
}

.navbar-all {
	padding: 15px;
}

.navbar-all .icon{
	font-size: 25px;
}

.navbar-all .icon:hover,
.navbar-all .icon:focus {
	color: #373737;
	text-decoration: none;
	cursor: pointer;
}

.navbar-all .navbar-toggler {
	padding: 0;
}

.menu-mobile .show {
	height: 100vh;
}

.menu-mobile .menu-mobile-list {
	margin-top: 20px;
}

.menu-mobile .menu-mobile-list li {
	text-transform: uppercase;
	text-align: center;
}

.menu-mobile .menu-mobile-list li a {
    display: block;
    padding: 20px 0;
	color: #373737;
	letter-spacing: 5px;
}

.social-icons li {
	display: inline-block;
	padding: 0 15px;
	font-size: 25px;
}

.social-icons.vertical li {
	display: block;
	margin: 0 0 20px;
	padding: 0;
}

.social-icons.vertical .icon-wrapper {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
	width: 20px;
	height: 20px;
	line-height: 20px;
	text-align: center
}

.social-icons.vertical span + span {
	color: #373737;
	font-size: 14px;
	font-weight: 600;
}

.social-icons.vertical i {
	font-size: 17px;
}

.navbar .flag {
	display: inline-block;
	width: 14px;
	height: 9px;	
}

.navbar .btn-secondary, 
.navbar .btn-secondary:not(:disabled):not(.disabled).active, 
.navbar .btn-secondary:not(:disabled):not(.disabled):active, 
.navbar .show > .btn-secondary.dropdown-toggle {
    color: #333;
    background-color: transparent;
    border-color: transparent;
    font-size: 14px;
    padding: 0;
}

.navbar .btn-secondary, 
.navbar .btn-secondary:not(:disabled):not(.disabled).active:focus, 
.navbar .btn-secondary:not(:disabled):not(.disabled):active:focus, 
.navbar .show > .btn-secondary.dropdown-toggle:focus {
    box-shadow: none;
}

.flag-spain {
	background: url(../img/flag-esp.png) no-repeat 0 0 transparent;
	background-size: cover;
}

.flag-usa {
	background: url(../img/flag-eng.png) no-repeat 0 0 transparent;
	background-size: cover;
}

.navbar .search {
	margin: 0 1rem;
	padding: 0 1rem;
	background: none;
	border: 0;
	font-size: 18px;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	cursor: pointer;
}

.language button span {
	display: inline-block;
	margin: 0 0.5rem;
}

/* 3.2 Tablet
------------------------
*/


/* 3.3 Desktop
------------------------
*/


@media (min-width: 992px) {
	
	.navbar-all {
		max-width: 1140px;
		margin: auto;
		padding: 25px 0;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}
	
}



/* =====================
    4.0 Footer
   ===================== */

/* 4.1 General
------------------------
*/

footer {
	margin-top: 2rem;
}

footer .first-footer {
	display: none;
}

footer .second-footer{
	padding: 20px;
}

footer .second-footer {
	background-color: #373737;
	color: #D9D9D9;
}

footer .social-icons {
    width: 80%;
    margin: 20px auto;
    display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
    justify-content: center;

}

footer .social-icons li {
	display: inline-block;
	width: 100%;
	text-align: center;
}

footer .social-icons li i {
	font-size: 18px;
}

footer .disclaimer {
	color: #6E6E6E;
	display: block;
	margin-bottom: 20px;
	text-align: center;
	font-size: 12px;
	font-weight: 300;
}

/* 4.2 tablet
------------------------
*/

@media (min-width: 768px) {
	footer {
		margin-top: 100px;
	}
}

/* 4.3 Desktop
------------------------
*/

@media (min-width: 992px) {
		
	footer .first-footer {
		display: block;
		padding: 20px 0;
		background-color: #373737;
		color: #D9D9D9;
	}

	footer .first-footer .footer-menu {
		text-align: center;
	}

	footer .first-footer .footer-menu li{
	    padding: 0 20px;
		display: inline-block;
		text-transform: uppercase;
		font-size: 12px;
	}

	footer .first-footer .footer-menu li:not(:last-of-type) {
		border-right: 1px solid #D9D9D9;
	}

	footer .second-footer {
		background-color: #fff;
		padding: 0;
	}

	footer .social-icons {
		color: #24659E;
	}

	footer .disclaimer {
		font-size: 11px;
	}

}

/* =====================
    5.0 Cover
   ===================== */

/* 5.1 All
------------------------
*/

.cover {
	max-width: 1140px;
	margin: auto;
	padding: 100px 0;
	background:linear-gradient(0deg,rgba(0,0,0,0.6),rgba(0,0,0,0.6));
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	text-align: center;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  	filter: grayscale(100%);
}

.cover .cover-next {
	text-transform: uppercase;
	font-size: 17px;
	letter-spacing: 3px;
	line-height: 30px;
}

.cover .cover-title {
	width: 100%;
	margin: 20px 0;
	padding: 20px 15px;
	font-size: 35px;
	border: 2px solid #fff;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.cover .cover-venue,
.cover .country {
	font-size: 16px;
	letter-spacing: 1px;
	font-weight: 600;
}

.cover .cover-venue span:first-of-type {
	padding-right: 8px;
    margin-right: 5px;
	border-right: 2px solid #fff;
}

.cover .country {
	margin-top: 10px;
}

/* 5.2 Tablet
------------------------
*/

@media (max-width: 991px) {
	h1 {
		display: none;
	}
}

@media (min-width: 768px) {
	.cover .cover-next {
	    font-size: 19px;
	    letter-spacing: 3px;
	    line-height: normal;
	    font-weight: 200;
	}

	.cover .cover-title {
		padding: 35px 15px;
	    margin: 5px 0;
	    line-height: 120%;
	}

	.cover .cover-title .title-month {
		display: block;
		font-size: 40px;
	}

	.cover .cover-title .title-date {
		font-weight: 600;
		font-size: 53px;
	}

	.cover .title-name {
		font-weight: 900;
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 3px;
		margin: 10px 0 15px;
	}

	.cover .title-name,
	.cover .cover-venue,
	.cover .cover-country {
		text-align: left;
	}

	.cover .cover-venue,
	.cover .cover-country {
		font-weight: 500;
		line-height: 130%;
	}
}


/* 5.3 Desktop
------------------------
*/

@media (min-width: 992px) {

	.cover {
		padding: 70px 20px;
	}

	.cover .cover-next {
		font-size: 15px;
		font-weight: 200;
		letter-spacing: 4px;
		margin-bottom: 10px;
	}

	.cover .cover-title {
		margin: 5px 0;
		padding: 30px;
	}

	.cover-title .title-month {
		display: block;
	}
	
	.cover-title .title-date {
		display: block;
		font-weight: 500;
	}
	
	.cover .cover-venue,
	.cover .cover-country {
		font-size: 14px;
		line-height: 150%;
	}

}

/* =====================
    6.0 Dates
   ===================== */

/* 6.1 Container and list
------------------------
*/


.dates .concert-list {
	margin: 15px 0; 
}

.dates-concert {
	margin: 30px 0;
}

.dates .concert-list li{
	margin: 15px 0 0 0;
	padding: 0;
	background: #ffffff;
}

.dates .concert-list a {
	color: #373737;
}

.dates .concert-list .date-grid {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border: 3px solid #373737;
}

.dg-date {
	display: -webkit-box; 
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex; 
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #24659E;
	color: #fff;
  	border-right: 2px solid #373737;
  	width: 25%;
}

.dg-date span {
	display: block;
	text-align: center;
	padding: 2px 0;
	font-size: 21px;
	letter-spacing: 2px;
}

.dg-date .month {
	text-transform: uppercase;
}

.dg-info-grid {
	width: 75%;
}

.dg-info-grid .dg-ig-title {
	padding: 20px;
	font-size: 22px;
	font-weight: 600;
	text-transform: uppercase;
	border-bottom: 2px solid #373737;
	letter-spacing: 2px;
	min-height: 85px;
	word-break: break-word;
}

.dg-info-grid .dg-ig-venue {
	padding: 20px;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 140%;
}

.dg-info-grid .dg-ig-venue .ig-city p{
	display: inline-block;
}

.dg-info-grid .dg-ig-venue .ig-city p:first-of-type{
	padding-right: 6px;
    margin-right: 3px;
	border-right: 1px solid #373737;
}

.dg-info-grid .dg-ig-venue a {
	padding: 0;
	margin-top: 35px;
	display: inline-block;
}

.dates .concert-list .dg-data {
	padding: 15px;
}

.dates .concert-list .dg-data li {
	margin: 0 0 13px 0;
	font-size: 12px;
	padding: 0;
}

.dates .concert-list .dg-data li:last-of-type {
	margin: 0;
}

.dates .concert-list .dg-data span {
	text-transform: uppercase;
}

.dg-share {
    border-top: 2px solid #373737;
    border-bottom: 2px solid #373737;
    padding: 15px;
}

.dates .concert-list .dg-share h4 {
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 600;
	margin-bottom: 5px;
}

.dates .concert-list .dg-share li {
    padding: 0 18px 0 0;
    display: inline-block;
    font-size: 25px;
    margin: 0;
}

.dates .concert-list .dg-share li a {
    font-size: 16px;
    color: #373737;
}

.dg-tickets {
	padding: 15px;
}

.dg-tickets a {
	padding: 0;
}

.white .dg-date {
	background: white;
}

.white .dg-date span {
	color: #333;
}

.concert-detail .event-img img {
	width: 100%;
	height: auto;
}

.concert-detail .programm {
	font-size:  14px;
	line-height: 150%;
}

.concert-detail .programm  h2 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}

.concert-detail .programm  h3 {
	font-size: 14px;
	font-weight: 600;
}

.concert-detail .programm ul {
	margin: 20px 0;
	padding-left: 15px;
}

.concert-detail .programm li {
	list-style: disc;
	margin: 5px 0;
}

.concert-detail .programm p {
	margin: 15px 0;
}

.related-concerts {
    border-top: 1px solid #ddd;
    margin-top: 35px;
    padding-top: 25px;
}

.related-concerts h3 {
	font-weight: bold;
	font-size: 22px;
	letter-spacing: 1px;
	margin: 0;
}

/* 6.2 Tablet
------------------------
*/

@media (min-width: 768px) {
	.dates .concert-list {
	    margin: 15px -15px;
	}

	.dates .concert-list li {
	    margin: 15px 0 0;
	    padding: 0 15px;
	}
}

/* 6.3 Desktop
------------------------
*/

@media (min-width: 992px) {

	.dates .container {
		padding: 0;
	}

	.dates .concert-list {
		margin: 15px -10px;
	}

	.dates .concert-list li {
		padding: 0 10px;
	}

	.concert-detail .programm {
		padding-left: 5%;
	}

	.concert-detail .programm h2:first-of-type {
		margin-top: 0;
	}

}



/* =====================
    7.0 News
   ===================== */

/* 7.1 Container and list
------------------------
*/

.news {
    margin: 20px 0;
}

.news-list {
	margin-top: 15px;
}

.news-list .news-single {
	margin: 15px 0 20px 0;
}

.news-list .news-single .img-date {
	display: block;
	margin: 10px 0;
	font-size: 12px;
	color: #6E6E6E;
}

.news-list .news-single h3 {
	margin: 15px 0;
	font-size: 18px;
	line-height: 22px;
	font-weight: 600;
}

/* 7.2 Desktop
------------------------
*/

@media (min-width: 992px) {

	.news .news-container {
		padding: 0;
	}

	.news-list .news-single h3 {
		font-size: 18px;
		font-weight: 400;
	}

}


/* =====================
    8.0 Paginador
   ===================== */

.paginator {
	font-size: 18px;
	font-weight: 500;
	text-align: center;
}

.paginator li {
	display: inline-block;
	padding: 0 20px;
}


/* =====================
    9.0 Biography
   ===================== */


/* 9.1 General
------------------------
*/

.hero-full {	
	background-size: cover;
	background-position: center center;
	height: 60vh;
	max-height: 520px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.hero-full .play {
	color: #ffffff;
    border-radius: 50%;
    border: 1px solid #ffffff;
    width: 85px;
    height: 85px;
    text-align: center;
    line-height: 86px;
    font-size: 26px;
}

.hero-full .play i {
	margin-left: 3px;
}

.biography p {
	font-size: 14px;
	margin: 1rem 0;
	line-height: 26px;
}

.biography h3 {
	font-weight: 600;
	font-size: 18px;
	margin: 1.5rem 0 1rem;
}

/* 9.2 Desktop
------------------------
*/

@media screen and (min-width: 992px) {
	.hero-full {
		height: 100vh;
		margin-bottom: 45px;
		background-position: top center;
		background-attachment: fixed;
	}

	.biography .divisor {
		height: 1px;
		background: #D9D9D9;
		display: block;
		width: 100%;
		margin: 2rem 0;
	}

	.biography h3 {
		margin-top: 0;
	}
}

/* =====================
    10.0 Contact
   ===================== */

.contact h2 {
	margin-bottom: 45px;
}

.contact p {
	font-size: 13px;
	line-height: 26px;
	margin: 1rem 0 2rem;
	letter-spacing: 1px;
}

.contact p:first-of-type {
	margin-top: 0;
}

/* =====================
    11.0 Discografia
   ===================== */

/* 11.1 General
------------------------
*/

.disc-list {
	margin-top: 20px;
}

.disc-list > li {
	border-bottom: 1px solid #D9D9D9;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.disc-list .disc-info-wrapper {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 130px auto;
	grid-template-columns: 130px auto;
}

.disc-img {
	width: 130px;
	height: 130px;
	overflow: hidden;
}

.disc-img img {
	width: auto;
	height: 100%;
	object-fit: cover;
	max-width: unset;
}

.disc-info {
	padding-left: 20px;
}

.disc-info .disc-title {
	font-size: 18px;
	font-weight: 600;
	line-height: 130%;
	margin-top: -5px;
}

.disc-info .disc-subtitle {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    line-height: 150%;
}

.disc-info .share {
	margin-top: 10px;
}

.disc-info .share,
.disc-info .share ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.disc-info .share a {
	font-size: 16px;
	color: #373737;
}

.disc-info .share li {
	padding: 0 23px 0 0;
	display: inline-block;
    font-size: 25px;
}

.disc-info-detail {
	display: none;
}

.disc-info-detail a {
	display: block;
    text-align: center;
    font-size: 21px;
    color: #333333;
    margin: 25px 0 0;
}

.song-list {
    margin-top: 20px;
}

.song-list li {
	padding:  12px 0;
	font-size: 15px;
	line-height: normal;
	border-bottom: 1px solid #D9D9D9;
}

.song-list li:last-child {
	border: none;
}

.disc-big .disc-img {
	width: 100%;
	height: auto;
}

.disc-big img {
	height: auto;
	width: 100%;
}

/* 11.2 Desktop
------------------------
*/

@media screen and (min-width: 992px) {
	.disc-list > li {
		border: 0;
	}

	.disc-info .share {
		border-top: 1px solid #ddd;
		margin-top: 1rem;
		padding-top: 1rem;
	}

	.disc-info .share > div {
		margin-right: 1rem;
	}

	.disc-info .share h4 {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 500;
		margin-bottom: 5px;
	}

	.disc-big .disc-title {
	    font-size: 25px;
	    font-weight: bold;
	    line-height: 110%;
	    text-transform: uppercase;
	}

	.disc-big .disc-subtitle {
		font-size: 16px;
		margin: 1rem 0 2rem;
		display: block;
		font-weight: 500;
	}

	.disc-big .share {
		margin-top: 10px;
	}

	.disc-big .share,
	.disc-big .share ul {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}

	.disc-big .share a {
		font-size: 16px;
		color: #373737;
	}

	.disc-big .share li {
		padding: 0 23px 0 0;
		display: inline-block;
	    font-size: 25px;
	}
}

/* =====================
    12.0 Media
   ===================== */

  /* 12.1 General
  ------------------------
  */

.nav-tabs {
  border-bottom: 0;
  margin-top: 1rem;
}

.nav-tabs .nav-link {
	font-weight: 500;
	text-transform: uppercase;
	color: #333;
	width: auto;
	padding: 0;
	text-align: left;
	border: 0;
	-webkit-box-flex: initial;
	-ms-flex-positive: initial;
	flex-grow: initial;
	margin-right: 1.5rem;
}

.nav-tabs .nav-link i {
	margin-left: 10px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active i {
	font-weight: 600;
}

.nav-tabs .nav-item.show .nav-link, 
.nav-tabs .nav-link.active,
.nav-tabs .nav-link:focus, 
.nav-tabs .nav-link:hover  {
	border: 0;
}

.media-list {
	margin-top: 2rem;
}

.media-list li {
	margin-bottom: 30px;
}

.media-list .img-wrapper {
	display: block;
	height: 200px;
	overflow: hidden;
	position: relative;
	transition: .3s;
	border: 4px solid transparent;
	margin-bottom: 1rem;
}

.media-list .img-wrapper + h3, 
.media-list .img-wrapper h3 {
	font-size: 15px;
	font-weight: 500;
	line-height: 140%;
}

.media-list .img-wrapper.active,
.media-list .img-wrapper:hover {
	border: 4px solid #24659E;
}

.media-list .img-wrapper.active:before,
.media-list .img-wrapper:hover:before {
	content: '';
	background: rgba(36, 101, 158, 0.35);
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	left: 0;
}

.media-list .img-wrapper img {
	width: 100%;
    max-width: unset;
    height: 100%;
    object-fit: cover;
}

.media-list .video-wrapper iframe {
    width: 100%;
    height: auto;
    min-height: 300px;
    margin-bottom: 1rem;
}

.img-preview { 
	margin-top: 2rem;
}

.img-preview img {
	width: 100%;
    height: auto;
}

.img-preview h3 {
	margin-top: 20px;
	font-size: 14px;
	font-weight: 500;
}

/* 12.2 Desktop
------------------------
*/

@media screen and (min-width: 992px) {
	.media-list .img-wrapper {
	    height: 130px;
	    margin-bottom: 0;
	}
}